body {
  background-color: #198263;
}

#table {
  background-color: #28A269;
  width: 50vw;
  height: 50vh;
  margin: auto auto;
}

#grid {
  background-image: url("../img/grid.svg");
  width: 376px;
  height: 378px;
  margin: auto auto;
}