body {
  background-color: #198263;
}

#table {
  background-image: url("../img/grid.svg");
  background-color: red;
}

#square {
  background-image: url("../img/grid.svg");
  width: 200px;
  height: 200px;
}
