body {
  background-color: #198263;
}

#table {
  background-color: #28A269;
  width: 600px;
  height: 600px;
  margin: auto;
  border-radius: 3px;
}

#grid {
  background-image: url("../img/grid.svg");
  width: 564px;
  height: 567px;
  margin: 6px;
}

#header {
  width: 1920px;
  height: 100px;
  color: black;
}

#outer-text-box {
  width: 1914px;
  height: 94px;
  border-color: white;
  border-width: 6px;
  background-color: #28A269;
}